* {
    box-sizing: border-box;
    margin: 0;
    padding: 2px;
}
body {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    height: 100vh;
    color: black;
    margin: 0;
    padding: 0;

}
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(15, [col] 100px ) ;
    grid-template-rows: repeat(10, [row] auto  );
    margin-left: 1%;
    color: #444;
}

.box {
     /* border-style: solid;  */
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    z-index:10;
      /* background-color:rgb(9, 43, 71)   */

}

.greetings1 {

    font-size: 35px;
    grid-column: col / span 11;
    grid-row: row ;
    text-align: left;
}
#music {

    grid-column: col 12/ span 4;
    grid-row: row ;

}
#suggestion {

    text-align: center;
    grid-column: col 6/ span 5;
    grid-row: row 2;

 
    font-size: 25px;


 
}
#suggestionBox{
    grid-column: col 6/ span 5;
    grid-row: row 3 / span 39;
}
#history{
    grid-column: col 11/ span 5;
    grid-row: row 2 / span 40;
}
#news{
    grid-column: col / span 5;
    grid-row: row 2 / span 40;
  }
  #weather {
    grid-column: col 1/ span 3;
    grid-row: row 44 / span 12;
    opacity: 80%;;
}
#searchbar {
    grid-column: col 5 /span 7;
    grid-row: row 55 ;


}
#time2 {
    grid-column: col 12/ span 4;
    grid-row: row 55;
    text-align: center ;
    font-size: 40px;
}
#footer {
    grid-column: col / span 15;
    grid-row: row 57;
    text-align: center ;
    
}


@media(max-width: 700px){

    #time {
        font-size: 6rem;
    }
}
